body {
  color: SlateGray;
  font: menu;
  margin: auto;
  margin-top: 1em;
  max-width: 666px;
  padding: 0.5em;
}

footer {
  text-align: center;
}

.message {
  color: LightGray;
  font-size: 2em;
  text-align: center;
}
