.filter {
  padding-bottom: 1em;
}

.filter span {
  display: block;
  float: left;
  font-size: 1.25em;
  width: 99px;
}

.filters {
  overflow-x: scroll;
  max-width: 100%;
  white-space: nowrap;
}

.filters button {
  margin-right: 1em;
}
