.company {
  font-size: 1.25em;
}

.name {
  color: DarkSlateGray;
  font-size: 1.5em;
  font-weight: bold;
}

.result {
  background: WhiteSmoke;
  box-shadow: 1px 1px 3px 1px LightGray;
  color: SlateGray;
  display: block;
  margin-bottom: 1em;
  padding: 1em;
  padding-bottom: 1px;
  text-decoration: none;
}

.result span {
  display: block;
}
